accelerate
black
cloudpickle
diffusers
future
fvcore
huggingface_hub
hydra-core
iopath
matplotlib
numpy
omegaconf
opencv_python
pillow
pycocotools
pydot
PyYAML
scipy
setuptools
scikit-image
tabulate
tensorboard
termcolor
tqdm
transformers
xformers
yacs
Ninja==1.11.1.1
git+https://github.com/facebookresearch/detectron2.git@v0.6
git+https://github.com/facebookresearch/detectron2.git@v0.6#subdirectory=projects/DensePose
 